{{> head}}

{{> navbar}}

<divclass="row">

    <div class="col-8">
        <h1>Control play</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At similique corporis eaque, cumque error nihil porro! Repudiandae, exercitationem ratione? Fugiat esse provident aliquam aliquid iste ipsam debitis officiis eius hic.</p>

    </div>

    <div class="col-4">
        <img src="assets/img/img1.jpg" class="img-thumbnail">
    </div>

</div>

   

{{> footer}}